.console-material {
    margin: 15px;

    display: flex;
    flex-direction: column;
}

/* Layout Generation */

.layout-generation {
    margin: 15px 0px;
}

.layout-generation span {
    color: white;
}

.layout-result {
    display: flex;
    flex-direction: row;
    align-items:  center;
    /* justify-content: center; */
    flex-wrap: wrap;
}

/* Color Generation */

.color-generation {
    margin: 15px 0px;
}

.color-generation {
    color: white;
}

.color-result {
    display: flex;
    flex-direction: row;
    align-items:  center;
    /* justify-content: center; */
    flex-wrap: wrap;
}