.slider {
    display: flex;
    flex-direction: row;

    width: 100%;
    align-items: center;
    justify-items: center;
    margin: 10px;
}

.slider-title {
    width: 10%;
}

.slider-value {
    width: 10%;
}

.slider-range {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;

    margin: 10px;
    width: 65%;
    height: 30px;
    background-color: transparent;
}

.slider-range .point {
    display: flex;
    vertical-align: middle;
    margin: 0;
    height: 10px;
    width: 10px;
    background-color: antiquewhite;
    border-radius: 50%;
}


.slider-range .base-bar {
    display: flex;
    flex: 1;

    height: 5px;
    margin: 0;

    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;

    background-color: black;

}

.slider-range .cover-bar {
    display: flex;

    width: 0px;
    height: 5px;
    margin: 0;

    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;


    background-color: blue;
    
}